html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}


/*my CSS*/

html {
    font-family: "Arial";
}

.head {
    max-width: 100%;
}

body {
    overflow-x: hidden;
    background-image: url(/back_3-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: fit-content;
    background-color: #e9e9e9;
}

#logos {
    padding: 5% 5% 5% 5%;
    background-color: #ffffff;
    text-align: center;
}

#logo {
    height: 100px;
}

#title {
    font-size: 32px;
    color: #154669;
    text-align: center;
}

.hours {
    height: 100%;
    width: 100%;
}

.container__hours {
    display: flex;
    text-align: center;
    background-color: white;
}

.container__column__hours {

    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5% 5% 5% 5%;

}

.container__content__hours {
    flex: 1;
    text-align: center;
}

h2.main {
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: #206D95;
    padding: 12px;
    position: relative;
}

.prise_img {
    min-width: 25%;
}

.wrapper__human {
    display: flex;
    justify-content: center;
    justify-items: flex-start;
    position: center;
    background-color: white;

}

.human {
    float: left;
    max-width: 50%;
    min-width: 25%;
    height: fit-content;
    padding: 0 5%;

}

.main_text {
    font-size: 22px;
    padding: 5% 5% 5% 5%;
    color: #154669;
    text-align: justify;
    background-color: white;
}
.nataliia {
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}


.list_header {
    text-align: center;
    font-size: 36px;
    color: rgb(255, 255, 255);
    background-color: #206D95;
    padding: 12px;
    position: relative;
}

.prise {
    text-align: justify;
    font-size: 24px;
    padding: 12px;
    color: #154669;
    display: flex;
}

.center {
    text-align: center;
    font-weight: bold;
}

#addres {
    color: #154669;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}

#build {
    max-width: 100%;

}
.number {
    font-size: 24px;
    color: #154669;
}

footer {
    background-color: #154669;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #e9e9e9;
}

@media (max-aspect-ratio: 10/10){
    .container__hours {
        flex-direction: column;

    }
    .prise{
        flex-direction: column
    }
    .container__column__hours {
        margin: 0 15%;
        width: 60%;
    }
    .nataliia {
        font-size: 24px;
    }
    .list_header {
        font-size: 18px;
    }

}

@media (min-aspect-ratio: 10/10){

    .container__column__hours{
        width: 100%;
        margin: 0 100px;
    }
    .container__hours{
        text-align: center;
    }
    #logo{
        height: 200px;
    }
    #title{
        font-size: 40px;
    }
}